<h1>Exercise Tracker By James Spolsdoff</h1>

{{#each results}}
	<form>
	    <fieldset>
	    	<legend>Update Exercise</legend>
	    	<input type="hidden" id="id" value="{{id}}" />
		    <label for="name">Name</label>
		    <input type="text" id="name" value="{{name}}">

		    <label for="reps">Reps</label>
		    <input type="text" id="reps" value="{{reps}}">

		    <label for="weight">Weight</label>
		    <input type="text" id="weight" value="{{weight}}">

		    <label for="date">Date</label>
		    <input type="text" id="date" value="{{date}}">

		    <label for="lbs">Pounds?</label>
		    <input type="text" id="lbs" value="{{lbs}}">

		    <input type="submit" value="Submit" id="exerciseSubmit">
		</fieldset>
	</form>
 {{/each}}

 <script>
	document.addEventListener("DOMContentLoaded", bindButtons);

	function bindButtons(){
		document.getElementById("exerciseSubmit").addEventListener("click", function(event)
		{
			var req = new XMLHttpRequest();
			var id = document.getElementById('id').value;
			var name = document.getElementById('name').value;
			var reps = document.getElementById('reps').value;
			var weight = document.getElementById('weight').value;
			var date = document.getElementById('date').value;
			var lbs = document.getElementById('lbs').value;
			req.open("GET", "http://52.34.52.113:3000/safe-update?id="+id+"name="+name+"&reps="+reps+"&weight="+weight+"&date="+date+"&lbs="+lbs, false);
			req.setRequestHeader('Content-Type', 'application/json');
			req.send();
			location.href="http://52.34.52.113:3000/";
		})
	}
</script>